.grid{
    width: 600px;
    height:600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin: auto;
}
.grid div{
    width: 60px;
    height: 60px;

}

.snake{
    background-color: plum;
}

.apple{
    background-color: pink;
}
body{
    background-color: cornsilk;
    text-align: center;
}