
    /*
    Colors
    Black - #1F271B
    White - #FEFFFE
    Reddish - #B54554
    Pinkish - #C2A0AC 
    */
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: 'Raleway', sans-serif;
        color: #1F271B;
        margin: 0px;
        
    }
    #intro{
        background-image:url(personalBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #welcomeHLine{
        border-bottom: 10px solid #1F271B;
        border-width:medium;
        width: 80%;
        margin: 0% 10% -5% 10%;
    }
    #welcome{
        font-family: 'Dosis', sans-serif;
        font-size:xx-large;
        text-align: center;
        color: #1F271B;
        height: fit-content;
        width: inherit;
        margin: auto;
        flex: 3;

    }
    .boxWrapper{
        height:inherit;
        width: inherit;
        display: flex;
    }
    .box{
        height: inherit;
        width: height;
        flex: 1;
        background-color: #1F271B;
        border-radius: 5%;
        color: #FEFFFE;
        text-align: center;
        font-size: x-large;
        display: flex;
        flex-direction: column;
    }
    .box:hover{
        background-color: rgb(32, 28, 28);
        color:#FEFFFE;
        box-shadow: 10px 10px 10px 10px rgb(181, 69, 84);
        /* , 0 5px 50px 0 purple; */
        opacity: 1;
        }
    .boxBreaker{
        flex:.25;
        height:inherit;
        background-color: transparent;
    }
    #intro a:visited, link{
        color: #FEFFFE;
    }
    .iconWrapper{
        height:inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
        align-content:center;
        align-self: flex-end;
    }
    .iconBreaker{
        width: 10px;
        height: inherit;
        background-color: transparent;
    }
    #aboutMe{
        background-image: url(aboutMeBackground.png);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .imageWrapper{
        height:inherit;
        width:inherit;
    }
    #bio{
        font-size: x-large;
    }
    #skills{
        height: 100vh;
        width: 100%;
        background-color: #B54554;
        display: flex;
        flex-direction: row;
    }
    #skills div{
        margin: 0px;
        text-align: center;
        font-size: xx-large;
        flex: 1;
        color: #FEFFFE;

    }
    #skills img{
        margin-top: 15px;
    }
    #skills h1{
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #projects{
        margin-top: 0px;
        height: 100vh;
        width: 100%;
        text-align: center;
        font-size: xx-large;
        background-image: url(aboutMeBackground.png);
        color:rgb(181, 69, 84);
        display: flex;
        flex-direction: column;
    }
    table{
        width: 90%;
        margin: auto;
        border-collapse: collapse;
    }
    table, td, th{
        border: 5px solid #B54554;
        text-align: center;
    }
    th{
        color: #FEFFFE;
        font-size: xx-large;
        background-color: #B54554;
    }
    td{
        color: #1F271B;
        font-size: x-large;
        background-color: #C2A0AC;
    }
    #projects a:visited,link{
        color: #1F271B;
        text-decoration: none;
    }
    #projects h1{
        vertical-align: middle;
        margin: 0px;
        color:rgb(32, 28, 28);
    }
    #projectsHeader{
        font-size: xx-large;
    }
    #contactMe{
        height: 50vh;
        width: 100%;
        text-align: center;
        font-size: xx-large;
        background-color: #C2A0AC;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
    }
    #contactMe input{
        width: 75%;
    }
    #contactme textarea{
        width: 90%;
        height: 25vh;
        margin: auto;
    }
