.square{
    width: 200px;
    height: 200px;
    border-style:ridge;
    border-color: lavender;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    height: 618px;
    width: 618px;
    margin: auto;
}
.mole{
    background-image: url('mole.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    text-align: center;
    background-color: cornsilk;
}
.gameOver{
    pointer-events: none;
}