body{
    text-align: center;
    background-color: cornsilk;
}

.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    margin: auto;
}

.grid div{
    height: 100px;
    width: 100px;
}

.grid div :hover{
    border-radius: 50px;
    background-color: cornsilk;
}

.untaken{
    background-color: cornflowerblue;
    border-radius: 50px;
}

.player-one{
    background-color: palevioletred;
    border-radius: 50px;
}

.player-two{
    background-color: palegoldenrod;
    border-radius: 50px;
}

.gameOver{
    pointer-events: none;
}
